body {background-image: url("../img/tweed.png")}

h1 { 
    font-size: 70px;
    color: cornflowerblue;
    font-family: 'Cuprum', sans-serif;
}

img {
    border-color: bisque;
    height: 300px;
    width: 50%;
}

nav {
 display: inline-block;
}

li{
    display: inline-block;
}

a,
a:visited {
    color: pink;
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    
}

a:hover {
color: white;
}

p {
    font-family: 'Cuprum', sans-serif;
    color: white;
}

section {
    background: slategrey;
}